@model CreditacaoMVC.Models.Curso
@{
    ViewBag.Title = "Details";
}
<h2>
    Detalhes do Curso</h2>
<fieldset>
    <legend>Curso</legend>
    <div class="display-label">
        Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CursoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>